cpu=AMD Ryzen 7 5800H with Radeon Graphics
gpu0=NVIDIA GeForce RTX 3080 Laptop GPU&&&&&SYSTEM\CurrentControlSet\Enum\PCI\VEN_10DE&DEV_249C&SUBSYS_16021043&REV_A1\4&1ba6dc09&0&0009
gpu1=AMD Radeon(TM) Graphics&&&&&SYSTEM\CurrentControlSet\Enum\PCI\VEN_1002&DEV_1638&SUBSYS_16021043&REV_C5\4&12c9051d&0&0041
